                                    !! ॐ श्री गणेशाय नमः !!

In [3]:
import re

In [5]:
txt = "Om Shree Ganeshaye Namah"
txt

'Om Shree Ganeshaye Namah'

#### Check if the string starts with "Om" and ends with "Namah":

In [6]:
x = re.search("^Om.*Namah$", txt)
x

In [8]:
if x:
    print("YES! We have a match!")
else:
    print("No match")

YES! We have a match!

### Find all lower case characters alphabetically between "a" and "m":

In [9]:
x = re.findall("[a-m]", txt)
x

['m', 'h', 'e', 'e', 'a', 'e', 'h', 'a', 'e', 'a', 'm', 'a', 'h']

### Find all digit characters:

In [11]:
txt = "Om Shree Ganeshaye Namah 723"

x = re.findall("\d", txt)
print(x)

['7', '2', '3']

### Search for a sequence that starts with "Gan", followed by six (any) characters, and an "e":

In [14]:
txt = "Om Shree Ganeshaye Namah"

x = re.findall("Ga......e", txt)
print(x)

['Ganeshaye']

In [18]:
x = re.findall("Ga...h", txt)
print(x)

['Ganesh']

### Check if the string starts with 'Om':

In [23]:
txt = "Om Shree Ganeshaye Namah"

x = re.findall("^Om", txt)
if x:
    print("Yes, the string starts with 'Om'")
else:
    print("No match")

Yes, the string starts with 'Om'

### Check if the string ends with 'Namah':

In [22]:
txt = "Om Shree Ganeshaye Namah"

x = re.findall("Namah$", txt)
if x:
    print("Yes, the string ends with 'Namah'")
else:
    print("No match")

Yes, the string ends with 'Namah'

### Check if the string starts with 'Om' and ends with 'Namah':

In [28]:
txt = "Om Shree Ganeshaye Namah"

x = re.findall("^Om.*Namah$", txt)
if x:
    print("Yes, the string starts with 'Om' and ends with 'Namah'")
else:
    print("No match")

Yes, the string starts with 'Om' and ends with 'Namah'

In [ ]:
### Search for a sequence that starts with "Sh", followed by 0 or more  (any) characters, and an "e":

In [30]:
txt = "Om Namah Shivaye"

x = re.findall("Sh.*e", txt)

print(x)

['Shivaye']

### Search for a sequence that starts with "S", followed by 1 or more  (any) characters, and an "v":

In [32]:
txt = "Om Namah Shivaye"

x = re.findall("S.+v", txt)

print(x)

['Shiv']

### Search for a sequence that starts with "S", followed by 0 or 1  (any) character, and an "v":

In [36]:
txt = "Om Namah Shivaye"

#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":

x = re.findall("S.?v", txt)

print(x)

#This time we got no match, because there were not zero, not one, but two characters between "he" and the "o"

[]

### Search for a sequence that starts with "S", followed excactly 2 (any) characters, and an "v":

In [37]:
txt = "Om Namah Shivaye"

#Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":

x = re.findall("S.{2}v", txt)

print(x)

['Shiv']

### Check if the string contains either "falls" or "stays":

In [42]:
txt = "Om Namah Shivaye"

#Check if the string contains either "Shivaye" or "Ganeshaye":

x = re.findall("Shivaye|Ganeshaye", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['Shivaye']
Yes, there is at least one match!

# Special Sequences

In [43]:
txt = "The rain in Spain"

#Check if the string starts with "The":

x = re.findall("\AThe", txt)

print(x)

if x:
    print("Yes, there is a match!")
else:
    print("No match")

['The']
Yes, there is a match!

In [45]:
txt = "The rain in Spain"

#Check if "ain" is present at the beginning of a WORD:

x = re.findall(r"\bain", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

[]
No match

In [44]:
txt = "The rain in Spain"

#Check if "ain" is present at the end of a WORD:

x = re.findall(r"ain\b", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['ain', 'ain']
Yes, there is at least one match!

In [46]:
txt = "The rain in Spain"

#Check if "ain" is present, but NOT at the beginning of a word:

x = re.findall(r"\Bain", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['ain', 'ain']
Yes, there is at least one match!

In [47]:
txt = "The rain in Spain"

# Check if "ain" is present, but NOT at the end of a word:

x = re.findall(r"ain\B", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

[]
No match

In [48]:
txt = "The rain in Spain"

#Check if the string contains any digits (numbers from 0-9):

x = re.findall("\d", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

[]
No match

In [49]:
txt = "The rain in Spain"

#Return a match at every no-digit character:

x = re.findall("\D", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [50]:
txt = "The rain in Spain"

#Return a match at every white-space character:

x = re.findall("\s", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

In [51]:
txt = "The rain in Spain"

#Return a match at every NON white-space character:

x = re.findall("\S", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [52]:
txt = "The rain in Spain"

#Return a match at every word character (characters from a to Z, digits from 0-9, and the underscore _ character):

x = re.findall("\w", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [53]:
txt = "The rain in Spain"

#Return a match at every NON word character (characters NOT between a and Z. Like "!", "?" white-space etc.):

x = re.findall("\W", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

In [54]:
txt = "The rain in Spain"

#Check if the string ends with "Spain":

x = re.findall("Spain\Z", txt)

print(x)

if x:
    print("Yes, there is a match!")
else:
    print("No match")

['Spain']
Yes, there is a match!

# Sets

In [56]:
txt = "The rain in Spain"

#Check if the string has any a, r, or n characters:

x = re.findall("[arn]", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['r', 'a', 'n', 'n', 'a', 'n']
Yes, there is at least one match!

In [57]:
txt = "The rain in Spain"

#Check if the string has any characters between a and n:

x = re.findall("[a-n]", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']
Yes, there is at least one match!

In [58]:
txt = "The rain in Spain"

#Check if the string has any characters between a and n:

x = re.findall("[a-n]", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']
Yes, there is at least one match!

In [59]:
#Check if the string has other characters than a, r, or n:

x = re.findall("[^arn]", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 'S', 'p', 'i']
Yes, there is at least one match!

In [60]:
txt = "The rain in Spain"

#Check if the string has any 0, 1, 2, or 3 digits:

x = re.findall("[0123]", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

[]
No match

In [61]:
txt = "8 times before 11:45 AM"

#Check if the string has any digits:

x = re.findall("[0-9]", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['8', '1', '1', '4', '5']
Yes, there is at least one match!

In [62]:
txt = "8 times before 11:45 AM"

#Check if the string has any two-digit numbers, from 00 to 59:

x = re.findall("[0-5][0-9]", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['11', '45']
Yes, there is at least one match!

In [63]:
txt = "8 times before 11:45 AM"

#Check if the string has any characters from a to z lower case, and A to Z upper case:

x = re.findall("[a-zA-Z]", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']
Yes, there is at least one match!

In [64]:
txt = "8 times before 11:45 AM"

#Check if the string has any + characters:

x = re.findall("[+]", txt)

print(x)

if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

[]
No match

# The findall() Function

In [65]:
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [66]:
txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

In [67]:
txt = "The rain in Spain"

#Check if "Portugal" is in the string:

x = re.findall("Portugal", txt)
print(x)

if (x):
    print("Yes, there is at least one match!")
else:
    print("No match")

[]
No match

# The search() Function

In [68]:
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [69]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

# The split() Function

In [71]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [73]:
txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

# The sub() Function

In [77]:
txt = "The rain in Spain"
#Replace all white-space characters with the digit "_":

x = re.sub("\s", "_", txt)
print(x)

The_rain_in_Spain

In [78]:
# Replace the first two occurrences of a white-space character with the digit _:

txt = "The rain in Spain"
x = re.sub("\s", "_", txt, 2)
print(x)

The_rain_in Spain

# Match Object

In [80]:
#The search() function returns a Match object:

txt = "The rain in Spain"
x = re.search("ai", txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

In [81]:
#Search for an upper case "S" character in the beginning of a word, and print its position:

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [85]:
#The string property returns the search string:

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [88]:
#Search for an upper case "S" character in the beginning of a word, and print the word:

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

In [90]:
import re

T = int(input())

for i in range(T):
    string = input()
    try:
        re.compile(string)
        print(True)
    except:
        print(False)

 2
 .*\+

True

 .*+

False